h1 {
  font-family: "Roboto Mono", monospace;
  color: #020826;
}

p {
  font-family: "Montserrat", sans-serif;
}

.wrong-letter,
.final-score {
  color: #f25042;
  font-weight: bold;
}

.slur {
  font-weight: bold;
}

.guessed-letters {
  font-weight: bold;
  letter-spacing: 3px;
}

.blank-movie {
  letter-spacing: 2px;
}

.App {
  text-align: center;
  background-color: #fffffe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #716040;
}

button {
  font-family: "Montserrat", sans-serif;
  color: #fffffe;
  background-color: #8c7851;
  border-radius: 10px;
  box-shadow: 8px 8px rgb(27, 27, 27);
  margin-left: 1rem;
  padding: 1rem 3rem;
  border: 2px solid #1b1b1b;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  position: relative;
  top: -3px;
}

button:focus {
  outline: none;
}
