html {
  background-color: #fffffe;
  color: #716040;
  margin: 1.5rem 1.5rem 135px 1.5rem;
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: #020826;
}

p {
  font-family: "Montserrat", sans-serif;
}

sub {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.wrong-letter,
.final-score {
  color: #f25042;
  font-weight: bold;
}

.slur {
  font-weight: bold;
}

.guessed-letters {
  font-weight: bold;
  letter-spacing: 3px;
}

.blank-movie {
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  box-shadow: 9px 10px 1px rgb(2, 8, 38, 0.96);
  position: relative;
  bottom: 1px;
}

button:focus {
  outline: none;
}

.simple-keyboard.hg-theme-default.myTheme {
  background-color: #eaddcf;
  color: #020826;
  font-family: "Roboto Mono", monospace;
  position: fixed;
  bottom: 0;
  margin: -1.5rem 0 0 -1.5rem;
}

.correct-letter {
  color: #f25042;
  font-weight: bold;
}

.incorrect-letter {
  color: #f25042;
  text-decoration: black line-through;
  text-decoration-thickness: 10px;
  font-weight: bold;
}
